                                        /* Global Styling */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   

}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    /* scroll animation */
    overflow-x: hidden;
    
}


* {
    font-family: "Poppins";
    /* outline: .1rem solid red; */
    
}


.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

                                        /* Preloader Screen */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 
    opacity: 1;
    visibility: visible;
  
    transition: opacity .5s, visibility .5s;
}



                                        /* Header Section */

#icon-header-name {
    color: #4C5130;
    background-color: #4C5130;
}


.header-name {
    font-family: "Poppins";
    font-size: 1.5rem;
    position: fixed;
    top: .5rem;
}



                                        /* Navigation Sidebar Section */



.sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    /* padding: .5rem; */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    z-index: 1050;
}




.nav-list {
    height: 100%;
    align-content: center;
   
}

.nav-list ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.nav-list li {
    padding-left: .15rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    
}


.nav-list a {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-list a {
    position: relative;
    padding-left: .5rem;
    
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5 {
    display: none;
}

.desktop {
    display: block;
}


                                        /* Underline effect for Nav-bar */



.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .15rem;
    height: 0.1em;
    background-color: #4C5130;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .nav5::after {
    content: 'Download' !important;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding-left: .35rem !important;
    padding-right: .35rem !important;
    height: 1.5rem !important;
    color:  white;

   
   
  }


                                         /* Social Media Icons */


  .social-icons {
    position:absolute;
    bottom:.5rem;
    margin:0;
    padding:.25rem;
    display:flex;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3rem;
    box-shadow: 0 0 .25rem rgb(0, 0, 0);
    animation: pulse 2s linear infinite;
  }




  @keyframes pulse {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.025;
    }
}





  .social-icons li {
    list-style:none;
  }
  .social-icons li a {
    display:block;
    position:relative;
    width:2rem;
    height:2rem;
    line-height:1.5rem;
    font-size:2rem;
    text-align:center;
    text-decoration:none;
    color:#4C5130;
    margin: .5rem .75rem;
    padding: .25rem;
    transition:.5s;
  }
  .social-icons li a span {
    position:absolute;
    transition: transform .5s;
  }
  .social-icons li a span:nth-child(1),
  .social-icons li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#4C5130;
  }
  .social-icons li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  .social-icons li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  .social-icons li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  .social-icons li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  .social-icons li a span:nth-child(2),
  .social-icons li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
  }
  .social-icons li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  .social-icons li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  .social-icons li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  .social-icons li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
.github:hover i { color: #c9510c; }
.github:hover span { background: #c9510c !important; }
.twitter:hover i { color: #000; }
.twitter:hover span { background: #000 !important; }
.instagram:hover i { color: #c32aa3; }
.instagram:hover span { background: #c32aa3 !important; }
.linkedin:hover i { color: #2366C0; }
.linkedin:hover span { background: #2366C0 !important; }









                                        /* Width of underline effect */

.nav1::after {
    width:3.6rem;
}

.nav2::after {
    width:5.4rem;
}

.nav3::after {
    width: 6rem;
}

.nav4::after {
    width:4.6rem;
}

.nav5::after {
    width: 5.25rem;
}


.nav-lista:hover::after,
a:focus::after {
opacity: 1;
transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.nav-list li a {
overflow: hidden;
}

.nav-list li a::after {
opacity: 1;
transform: translate3d(-150%, 0, 0);
}

.nav-list li a:hover::after,
.nav-list li a:focus::after{
transform: translate3d(0, 0, 0);
}










                                        /* Full Body Section */

.landing-page {
    display: grid;
    grid-template-columns: 16rem 1fr;
    min-height: 100vh;
}

.hero-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}




h1 {
    color:#CAD194;
    font-size: 6rem;
    margin: 0;
    transition: 0.5s;
}

h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    cursor: default;
}

h4 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0;
}

h4:hover {
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    cursor: default;
}



#mobile {
    visibility: hidden;
}








                                        /* About Me Section */

.about-me {
    display: grid;
    grid-template-columns:.75fr 1.25fr;
    min-height: 100vh;
    margin-left: 16rem;
    z-index: 100;
    overflow: hidden;
    
    color:  white;

    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.about-me-left {
    display:flexbox;
    align-content: center;
    text-align: center;
    z-index: 100;
}


.self-portrait {
    width: 75%;
    justify-self: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 50%;
    border: none;
    z-index: 100;

}




.about-me-right {
    display:flexbox;
    align-content: center;
    align-self: center;
    margin: 1rem;
    padding: 5%;
   
    border-radius: 5rem;
}

.about-me-right p {
    line-height: 2rem;
}


                                    /* Slide in Animations */

                                    /* slide in from right */

.slideIn-animation {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
    transition: transform 1s cubic-bezier(0.5, 0.885, 0.32, 1);
}

#slideIn-animation:nth-of-type(odd) {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}



.slideIn-animation.show {
    -webkit-transform: translateX(0);
   transform: translateX(0);
   animation: fadeIn .75s ease-in;
}


                                        /* slide in from left */


.slideIn-animation-left {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
    transition: transform 1s cubic-bezier(0.5, 0.885, 0.32, 1);
}

#slideIn-animation-left:nth-of-type(odd) {
    -webkit-transform: translateX(400%);
   transform: translateX(400%);
}


.slideIn-animation-left.show {
    -webkit-transform: translateX(0);
   transform: translateX(0);
   animation: fadeIn .75s ease-in;
}





/* Fade In Animation For Slide In Effects */

    
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}




                                    /* Experience Section */




.experience-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-left: 16rem;
    justify-content: center;
}


.grid-cell {
    display: flex;
    justify-content: center;
    text-align: center;

    
}





.right-side {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
    width: 100%;
    
    border-radius: 2rem;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 1rem;

    color:  white;

    border-radius: 20px;
    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.certifications {
    display: flex;
}

.certifications ul {
    line-height: 1.75rem;
}

.codecademy-logo {
    width: 55%;
    margin-top: 1.95rem;
}

.codecademy-logo:hover {
    scale: 1.1;
}

.codecademy-cert {
    width: 50%;
    
}





.americorps {
    width: 50%;
}


.americorps li {
    text-align: start;
    
}



.nccc-logo {
    width: 15%;
    margin-top: 1rem;
    padding-right: 1rem;
}

.nccc-logo:hover {
    scale: 1.2;
}

.cityyear-logo {
    width: 17%;
    padding-left: 1rem;
}

.cityyear-logo:hover {
    scale: 1.2;
}







.experiences {
    text-align: start;
    padding: 1rem 3rem 3rem 3rem;
    line-height: 2rem;
}

.experiences ul {
    font-size: .75rem;
}


                                        /* Tech Stack List */


.bottom-left {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.bottom-left-inside {
    display: flex;
    text-align: start;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-between;
    line-height: 4rem;
    border-radius: 2rem;
    padding: 1rem 3rem;
    /* margin: 1rem 4rem; */
    margin-bottom: 1rem;
    color:  white;

    border-radius: 20px;
    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.bottom-left ul {
    list-style: none;
    
   
}

.bottom-left li {
    display: flex;
    align-items: center;
  
}

.bottom-left svg {
    margin-right: .75rem;
}





                                            /* Skill Chart */


.skill-chart {
    display: block;
    max-height: fit-content;
    bottom : 2rem;
    width: 100%;
    margin-top: 1rem auto;
    border-radius: 2rem;
    padding: 1rem;

    color:  white;

    border-radius: 20px;
    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    
}

.skills-title {
    font-weight: bold;
    font-size: 1.5rem;
    width: 30%;
}



.skill-chart ul {
    list-style: none;
    max-height:fit-content;
}

.headers {
    display: flex;
    /* flex-shrink: 1; */
    width: 100%;
}

.skills {
    padding-right: 3rem;
    width: 30%;
}

.skills li {
    text-align: start;
    line-height: 3rem;  
}

.bar-chart {
    margin-top: 2rem;
    width: 50%;
}

.chart-body {
    display: flex;
}

.headers{
    border-bottom: #8f8f8f 1px solid; 
}
.bar-chart-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: end;
    margin: 0;
    padding: 0;
   
}

.bar-chart-header li {
    margin: 0;
    padding: 0;
    
}

.bar {
    margin-bottom: 2rem;
}

.bar {
    background-color: #CAD194;
    height: 1rem;
    width: 4rem;
    border-radius: 2rem;
}

.bar1 {
    width: 72%;
}

.bar2{
    width: 48%
}

.bar3 {
    width: 38%
}

.bar4 {
    width: 21%;
}

.bar5 {
    width: 18%;
}

.bar6 {
    width: 12%;
}

.total-xp {
    margin: 1.75rem 0 0 0;
    padding: 0;
    
}

.total-xp ul{
    margin: 0;
    padding: 0;
    
}

.total-xp li {
    
    padding-bottom: 1.5rem;
}




                                            /* Projects Section */

.project-section {
    align-content: center;
    margin-left: 16rem;
    color: white;
    height: 100vh;
}

.project-section h2 {
    text-align: center;
    font-size: 4rem;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

.project{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    border-radius: 1.5rem;
    /* other styles */
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
} 

.project:hover {
    scale: 1.05;
    cursor:pointer;
}

.project div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}



.project img {
    width: 100%;
}































                                        /* Typing Animation w/ Cursor */

#cursor {
color: #fff;
animation: blink 1s linear infinite;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}







                                            /* Media Queries */



@media only screen and (min-width: 37.5rem) {
    .nav-list li:hover {
        background-color: rgba(194, 194, 194, 0.562);
    }
}


                                    /* Tablet Landscape Media Queries */


@media only screen and (max-width: 85.5rem) {


    .about-me {
        display: block;
        
    }
    
    .self-portrait {
        margin-top: 1rem;
        width: 40%;
    }
    
        
    .experience-section {
        display: block;
    }
    
    
    .codecademy-cert li {
        text-align: start;
    }
    
    
    .skill-chart {
        width: 100%;
    }
    
    .bottom-left-inside {
        justify-content: space-around;
        margin: 1rem 0;
    }
    
    
    
    
    }




                                        /* Tablet Portait */

@media only screen and (max-width: 64.5rem) {



    .sidebar-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; 
        min-height: 4rem; 
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        z-index: 1000;
    }

    .nav-list a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0rem;
        height: 0.1em;
        background-color: #4c513000;
        opacity: 0;
        transition: opacity 0ms, transform 0ms;
      }



    .desktop {
        display: none;
    }

    .header-name {
        font-size: 2em;
    }

    .nav-list {
        display: flex;
        padding: 0;
        width: 100%;
    }

  
    .nav-list ul {
        display: flex; 
        justify-content: space-evenly; 
        width: 100%;
        padding: 4rem 0 0 0;
        margin: 0;
        list-style: none;
        font-weight: bold;
    }
    
    .nav-list li {
        padding: 0;
        text-align: center;
    }

    #nav1, #nav2,
    #nav3, #nav4,
    #nav5 {
    display: flex;
    font-size: 3rem;
    }



    

    .landing-page {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100vh;
        padding-top: 5rem;
    }

    .hero-section {
        display: flex;
        grid-column: 1;
        position: absolute;
        top: 0;
        width: 100%;
        min-height: 100vh;
        /* padding: 2rem; */
        box-sizing: border-box;
    }

    h1 {
        font-size: 6rem;
        margin-bottom: 0;
        transition: 0.5s;
        text-align: center;
    }




                                                /* Social Icons  */
 
    .social-icons {
        position:absolute;
        bottom: 1rem;
        /* transform:translate(20%, 100%); */
        margin: 0;
        padding:0;
        display:flex !important;
        z-index: 15;

      }

      .social-icons li a {
        display:block;
        position:relative;
        width:2rem;
        height:2rem;
        line-height:1.5rem;
        font-size:2rem;
        text-align:center;
        text-decoration:none;
        color:#4C5130;
        margin: .5rem .75rem;
        padding: .25rem;
        transition:.5s;
      }

      .social-icons li a span:nth-child(1),
      .social-icons li a span:nth-child(2),
      .social-icons li a span:nth-child(3),
      .social-icons li a span:nth-child(4) {
        background-color: #4C5130;
      }




                                            /* About Me  Section*/

    .about-me {
        display: block;
        min-height: 100vh;
        margin: 10% auto;
        padding-top: 9rem;
    }

    .about-me-right {
        margin: 2% 5% 0 5%;
        padding: 0 5% 0 5%;
    }

    .about-me-right h2 {
        margin-top: 0;
        text-align: center;
    }

    .about-me-right p {
        font-size: 1.5rem;
    }

    .self-portrait {
        width: 50%;
        padding: 0;
    }


    .experience-section {
        margin: 1rem;
        padding: 9rem 0 0 0;

    }    
    


  


    /* .skill-chart {
        display: block;
        bottom : 2rem;
        background-color: #ffffffe3;
        margin: 0;
        border-radius: 2rem;
        padding: 0;
    } */

    .skill-chart {
        display: block;
        bottom : 2rem;
        margin: 0;
        padding: 1rem;
    }

   
    /* .skill-chart ul {
        padding: 0;
    } */

    /* .skills {
        width: 100%;
        padding: 0 2rem 0 0;
    } */

   

    /* .total-xp {
        visibility: hidden;
    } */
    

    .skills-title {
     
        width: 30%;
    }

    .project-section {
        margin-left: 0;
    }

}




                                        /* Mobile Phone */

                              
@media only screen and (max-width: 27.19rem) {

.sidebar-navigation {
    font-size: .75rem;
}

.hero-section h1 {
    font-size: 3.5rem;
}


#nav1, #nav2,
    #nav3, #nav4,
    #nav5 {
    font-size: 1.5rem;
}

.social-icons { 
    bottom: 6rem;
  
}

.about-me {
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about-me-right p {
    font-size: 1rem;
}


.certifications {
    display: block;
}

.codecademy-cert {
    width: 100%;
}

.americorps {
    width: 100%;
}

.experiences {
    padding: 0 .25rem;
}

.skills-title {
    width: 50%;
}

.skills ul {
    padding: 0;
}

.total-xp {
    display: none;
}

.bottom-left-inside {
    padding: 0;
}

.bottom-left-inside li {
    padding-bottom: 1rem;
}

.bottom-left-inside span {
    display: none;
    
}


.projects {
    display: block;
}

.project {
    width: 100%;
    margin: 1rem;
}


}



@media (min-aspect-ratio: 16/9) {
    .back-video {
        
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        
        width: auto;
        height: 100%;
    }
}








#preloader {
    background: #fff url(images/preloader.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1500;


    transition-property: display opacity;
    transition: .5s;
    
}