                                        /* Global Styling */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   

}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    /* scroll animation */
    overflow-x: hidden;

    background-color: #6c8bb3;
}


* {
    font-family: "Poppins";
    /* outline: .1rem solid red; */
    
}

                                        /* Preloader Screen */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 
    opacity: 1;
    visibility: visible;
  
    transition: opacity .5s, visibility .5s;
}



                                        /* Header Section */

#icon-header-name {
    color: #4C5130;
    background-color: #4C5130;
}


.header-name {
    font-family: "Poppins";
    font-size: 1.5rem;
    position: fixed;
    top: .5rem;
}



                                        /* Navigation Sidebar Section */



.sidebar-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    /* padding: .5rem; */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    z-index: 1050;
}




.nav-list {
    height: 100%;
    align-content: center;
   
}

.nav-list ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.nav-list li {
    padding-left: .15rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    
}


.nav-list a {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
}

.nav-list a {
    position: relative;
    padding-left: .5rem;
    
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5 {
    display: none;
}

.desktop {
    display: block;
}


                                        /* Underline effect for Nav-bar */



.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .15rem;
    height: 0.1em;
    background-color: #4C5130;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }


                                         /* Social Media Icons */


  .social-icons {
    position:absolute;
    bottom:0;
    margin:0;
    padding:0;
    display:flex;
    z-index: 1001;
  }
  .social-icons li {
    list-style:none;
  }
  .social-icons li a {
    display:block;
    position:relative;
    width:2rem;
    height:2rem;
    line-height:1.5rem;
    font-size:2rem;
    text-align:center;
    text-decoration:none;
    color:#4C5130;
    margin: .5rem .75rem;
    padding: .25rem;
    transition:.5s;
  }
  .social-icons li a span {
    position:absolute;
    transition: transform .5s;
  }
  .social-icons li a span:nth-child(1),
  .social-icons li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#4C5130;
  }
  .social-icons li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  .social-icons li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  .social-icons li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  .social-icons li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  .social-icons li a span:nth-child(2),
  .social-icons li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
  }
  .social-icons li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  .social-icons li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  .social-icons li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  .social-icons li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
.github:hover i { color: #000; }
.github:hover span { background: #000 !important; }
.twitter:hover i { color: #1da1f2; }
.twitter:hover span { background: #1da1f2 !important; }
.instagram:hover i { color: #c32aa3; }
.instagram:hover span { background: #c32aa3 !important; }
.linkedin:hover i { color: #2366C0; }
.linkedin:hover span { background: #2366C0 !important; }









                                        /* Width of underline effect */

.nav1::after {
    width:3.6rem;
}

.nav2::after {
    width:5.4rem;
}

.nav3::after {
    width: 6rem;
}

.nav4::after {
    width:4.6rem;
}

.nav5::after {
    width:4.7rem;
}


.nav-lista:hover::after,
a:focus::after {
opacity: 1;
transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.nav-list li a {
overflow: hidden;
}

.nav-list li a::after {
opacity: 1;
transform: translate3d(-150%, 0, 0);
}

.nav-list li a:hover::after,
.nav-list li a:focus::after{
transform: translate3d(0, 0, 0);
}










                                        /* Full Body Section */

.landing-page {
    display: grid;
    grid-template-columns: 16rem 1fr;
    min-height: 100vh;
}

.hero-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}




h1 {
    color:#CAD194;
    font-size: 6rem;
    margin: 0;
    transition: 0.5s;
}

h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    cursor: default;
}

h4 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0;
}

h4:hover {
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    cursor: default;
}



#mobile {
    visibility: hidden;
}








                                        /* About Me Section */

.about-me {
    display: grid;
    grid-template-columns:.75fr 1.25fr;
    min-height: 100vh;
    margin-left: 16rem;
    z-index: 100;
    overflow: hidden;
}

.about-me-left {
    display:flexbox;
    align-content: center;
    text-align: center;
    z-index: 100;
}


.self-portrait {
    width: 75%;
    justify-self: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 50%;
    border: none;
    z-index: 100;

}




.about-me-right {
    display:flexbox;
    align-content: center;
    align-self: center;
    margin: 1rem;
    padding: 5%;
    background-color: #fff;
    border-radius: 5rem;
}

.about-me-right p {
    line-height: 2rem;
}


                                    /* Scroll Animations */

.slideIn-animation {
    transform: translateX(400%);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#slideIn-animation:nth-of-type(odd) {
   transform: translateX(-400%);
}



.slideIn-animation.show {
   transform: translateX(0);
}




                                    /* Experience Section */




.experience-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
    margin-left: 16rem;
    margin-right: 2rem;
    justify-content: center;
   
}


.grid-cell {
    display: flex;
    justify-content: center;
    text-align: center;
}





.right-side {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3; 

    
    border-radius: 2rem;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 1rem;
    background-color: #ffffffe3;
}

.certifications {
    margin-left: 3rem;
    margin-right: 3rem;
    align-content:center;
}

.certifications ul {
    line-height: 1.75rem;
}

.codecademy-logo {
    width: 20%;
}

.codecademy-cert {
    display: flex;
    justify-content: space-between;
    
}

.codecademy-cert li {
    list-style: none;
}

.americorps {
    display: flex;
    justify-content: space-between;
}

.americorps ul {
    padding-right: .35rem;
}

.americorps li {
    text-align: start;
    list-style: none;
}

.nccc-logo {
    width: 10%;
}

.cityyear-logo {
    width: 10%;
    height: 90%;
    align-self: center;
}






.experiences {
    text-align: start;
    padding: 1rem 3rem 3rem 3rem;
    line-height: 2rem;
}

.experiences ul {
    font-size: .75rem;
}





.bottom-left {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.bottom-left-inside {
    display: flex;
    text-align: start;
    width: 66%;
    font-size: 1.5rem;
    justify-content: space-evenly;
    line-height: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px grey;
    padding: 1rem;
    background-color: #ffffffe3;
    margin-bottom: 1rem;
}

.bottom-left ul {
    list-style: none;
    
   
}

.bottom-left li {
    display: flex;
    align-items: center;
  
}

.bottom-left svg {
    margin-right: .75rem;
}





                                            /* Skill Chart */


.skill-chart {
    display: block;
    bottom : 2rem;
    width: 80%;
    background-color: #ffffffe3;
    margin-top: 1rem auto;
    border-radius: 2rem;
    padding: 1rem;
}

.skills-title {
    border-bottom: #8f8f8f 1px solid;
    font-weight: bold;
    font-size: 1.5rem;
  
    width: 40%;
}



.skill-chart ul {
    list-style: none;
}

.headers {
    display: flex;
    flex-shrink: 1;
    width: 100%;
}

.skills {
    padding-right: 3rem;
    width: 30%;
}

.skills li {
    text-align: start;
    line-height: 3rem;  
}

.bar-chart {
    margin-top: 2rem;
    width: 50%;
}

.chart-body {
    display: flex;
}

.bar-chart-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: end;
    margin: 0;
    padding: 0;
    border-bottom: #8f8f8f 1px solid;
}

.bar-chart-header li {
    margin: 0;
    padding: 0;
    
}

.bar {
    margin-bottom: 2rem;
}

.bar {
    background-color: #CAD194;
    height: 1rem;
    width: 4rem;
    border-radius: 2rem;
}

.bar1 {
    width: 72%;
}

.bar2{
    width: 48%
}

.bar3 {
    width: 38%
}

.bar4 {
    width: 21%;
}

.bar5 {
    width: 18%;
}

.bar6 {
    width: 12%;
}

.total-xp {
    margin: 1.75rem 0 0 0;
    padding: 0;
    
}

.total-xp ul{
    margin: 0;
    padding: 0;
    
}

.total-xp li {
    
    padding-bottom: 1.5rem;
}





































                                        /* Typing Animation w/ Cursor */

#cursor {
color: #fff;
animation: blink 1s linear infinite;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}







                                            /* Media Queries */



@media only screen and (min-width: 37.5rem) {
    .nav-list li:hover {
        background-color: rgba(194, 194, 194, 0.562);
    }
}



@media only screen and (max-width: 37.5rem) {



    .sidebar-navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; 
        min-height: 4rem; 
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        z-index: 1000;
    }



    .desktop {
        display: none;
    }

    .nav-list {
        display: flex;
        padding: 0;
        width: 100%;
    }

  
    .nav-list ul {
        display: flex; 
        justify-content: space-evenly; 
        width: 100%;
        padding: 4rem 0 0 0;
        margin: 0;
        list-style: none;
        font-weight: bold;
    }
    
    .nav-list li {
        padding: 0;
        text-align: center;
    }

    #nav1, #nav2,
    #nav3, #nav4,
    #nav5 {
    display: flex;
    }



    

    .landing-page {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100vh;
        padding-top: 5rem;
    }

    .hero-section {
        display: flex;
        grid-column: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* padding: 2rem; */
        box-sizing: border-box;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
        transition: 0.5s;
        text-align: center;
    }

 
    .social-icons {
        position:absolute;
        bottom:0;
        /* transform:translate(20%, 100%); */
        margin:0;
        padding:0;
        display:flex !important;
        z-index: 15;

      }

      .social-icons li a {
        display:block;
        position:relative;
        width:2rem;
        height:2rem;
        line-height:1.5rem;
        font-size:2rem;
        text-align:center;
        text-decoration:none;
        color:#fff;
        margin: .5rem .75rem;
        padding: .25rem;
        transition:.5s;
      }

      .social-icons li a span:nth-child(1),
      .social-icons li a span:nth-child(2),
      .social-icons li a span:nth-child(3),
      .social-icons li a span:nth-child(4) {
        background-color: #fff;
      }

    .about-me {
        display: block;
        min-height: 100vh;
        margin: 10% auto;
        padding-top: 9rem;
    }

    .about-me-right {
        margin: 5% 5% 0 5%;
        padding: 0 5% 0 5%;
    }

    .about-me-right h2 {
        margin-top: 0;
        text-align: center;
    }

    .self-portrait {
        padding: 0;
    }


    .experience-section {
        display: block;
        
        margin: 0;
        padding: 9rem 0 0 0;
        width: 100%;
    }    
    


  


    .skill-chart {
        display: block;
        bottom : 2rem;
        background-color: #ffffffe3;
        margin: 0;
        border-radius: 2rem;
        padding: 0;
    }

   
    .skill-chart ul {
        padding: 0;
    }

    .skills {
        width: 100%;
        padding: 0 2rem 0 0;
    }

    .skills li {
        /* line-height: 1.5rem; */
    }

    .total-xp {
        visibility: hidden;
    }
    

}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        
        width: auto;
        height: 100%;
    }
}


#preloader {
    background: #fff url(images/preloader.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1005;


    transition-property: display opacity;
    transition: 1s;
    
}